<div class="container">
  <div class="jumbotron">
	<div style="float:right">
    <a href="/acerca"> <button type="button" class="btn btn-info"> <span class="glyphicon glyphicon-info-sign"></span> Acerca</button></a>
    </div>
	<h1>Conteo y Validación de Actas</h1>
	<div style="color:gray">
	  <%if user_signed_in?%>
		<p>Colabora con una de estas tareas:</p> 

		<a href="<%=new_actum_path%>"><button type="button" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-pencil"></span> Digitar Acta</button></a>
	
		<a href="/acta/random"> <button type="button" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-eye-open"></span> Validar  Acta</button></a>
	  <%else%>
		<p class="lead">Este es una aplicación web para reconteo y validación de actas presidenciales tomadas del TSE. 
		Ayudanos a digitar y validar las actas para tener mayor transparencia en el proceso electoral.</p>
		<p>
		<a href="/auth/auth/facebook"> <button type="button" class="btn btn-primary btn-lg "> <span class="glyphicon glyphicon-user"></span> Entrar Con Facebook</button></a>
		</p>
	  <%end%>
	</div>
  </div>
  <div class="alert alert-info">
    <h2>Nueva funcionalidad: Reportes</h2>
    <p>Ahora que hemos terminado de digitar y estamos validando, puedes descargar los últimos datos de actas en nuestra base de datos para analizarlos por tu cuenta:</p>
    <ul>
      <li>Todas las actas: 
        <a target="_blank" href="https://dataclips.heroku.com/eonwkdamddmkqushnqrilgvislqu-Actas-2017.xls">XLS<a>
            |        <a target="_blank" href="https://dataclips.heroku.com/eonwkdamddmkqushnqrilgvislqu-Actas-2017.csv">CSV</a>
            |        <a target="_blank" href="https://dataclips.heroku.com/eonwkdamddmkqushnqrilgvislqu-Actas-2017.json">JSON</a>
       </li>
      <li>Actas con reportes de irregularidades (incluyendo el texto del reporte):
  <a target="_blank" href="https://dataclips.heroku.com/wdbbardhrrerfkywyrrakyzmdaya-Actas-2017-Reportadas.xls">XLS<a>
            |        <a target="_blank" href="https://dataclips.heroku.com/wdbbardhrrerfkywyrrakyzmdaya-Actas-2017-Reportadas.csv">CSV</a>
            |        <a target="_blank" href="https://dataclips.heroku.com/wdbbardhrrerfkywyrrakyzmdaya.json">JSON</a>
      </li>
    </ul>
  </div>
  <div class="alert alert-warning">
    <h2>Aclaratoria</h2>
    <ol>
      <li>Las actas presentadas son una copia de las actas disponibles en el TSE, no podemos garantizar su veracidad.</li>
      <li>La plataforma suma todas las actas, incluyendo aquellas cuya sumatoria no coincide.</li>
      <li>Es muy importante que nos reporten cualquier inconsistencia en el Acta, esta información la compartiremos con las organizaciones políticas.</li>
      <li> El resultado obtenido no es oficial, ni vinculatorio. Simplemente refleja los totales ingresados por usuarios de internet interesados en auditar y validar las actas disponibles.</li>
      <li>Exhortamos a todos los representantes de organizaciones independientes y partidos políticos a que utilicen esta plataforma para validar sus conteos y actas.</li>
    </ol>
  </div>
  <%cache "result-summary-home", :expires_in=>3.minutes do %>
    <%=render "results_table"%>
  <%end%>
</div>
 
<div style="margin:auto;width:100%;text-align:center;">
	<h3 style="color:gray">VotoSocial en la Prensa</h3>
	
	<img src="press.png" >
</div>
