@import "bootstrap";

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table {  
 tr {
   td {
      border:solid 1px #CCC;
      padding: 10px;
      input{
         width:50px;
      }
    }
   th {
      border:solid 1px #CCC;
      padding: 10px;
      background:#EFEFEF;
      text-align:left;
    }
  }
}

.pagination{ 
  padding: 10px;
  font-size: 12px;
  width: 90%;
  margin: 0 auto;
  text-align:center;
  
  a{
    border:solid 1px #CCC;
    padding:5px;
    margin:0px;
    margin-left:-4px;
    text-align:center;
    &:hover{
      background:#EDEDED;
    }
  }
  
  .current{
    border:solid 1px #CCC;
    padding:6px 5px;
    margin-left:-4px;
    text-align:center;
    background:#EDEDED;
  }
}

.notice{
 border: solid 1px #CCC;
 padding: 10px;
 background: #FFFDC7;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.total-sum{
  font-weight:bold;background:#FFF36B;font-size: 16px;text-align:center;
}

.stats-table{
   font-size:12px;
   tr{
    font-size:12px;
    th{font-size:11px;}
    td{font-size:11px;}
   }
}

.jumbotron{
  padding:30px 0px;
}

.qa-box{
 border: solid 1px #CCC;
 padding: 10px 25px;
 background: #FEFEFE;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
 margin-top:20px;
 h2{
   font-size:18px;
 }
 p{
    font-size:15px;
 }
}

.footer{
  width:100%;
  border-top: solid 1px #CCC;
  margin-top:20px;
  padding-top:20px;
  padding-bottom:30px;
  text-align:center;
}